#timer {
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 1.95);
	font-weight: 900;
	color: var(--timer);
	text-shadow: 0 0 2px #0c0c08;
	font-family: raleway_f, sans-serif;
}

.timer_caption {
	font-size: calc(var(--index) * 0.75);
	/*letter-spacing: calc(var(--index) / 0.95);*/
	font-weight: 900;
	color: var(--timer);
	text-shadow: 0 0 2px #0c0c08;
	font-family: raleway_f, sans-serif;
}

.timer-container span {
	white-space: nowrap;
}

.table-like {
	display: table;
	text-align: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.table-like div {
	display: table-row;
}

.table-like div span {
	padding-left: 0;
	padding-right: 0;
	display: table-cell;
}

/* bold on 1st row */
.table-like div:nth-child(1) {
	font-weight: bold;
}

