.timing {
	list-style: none;
	color: var(--context);
	font-size: calc(var(--index) * 0.95);
}
.timing-body {
	color: var(--context);
	text-align: center;
	font-size: calc(var(--index) * 0.95);
}
.timing-body-caption {
	color: var(--context);
	text-align: center;
	font-size: calc(var(--index) * 0.75);
}
.timing__header {
	text-align: center;
	font-size: calc(var(--index) * 2.15);
	letter-spacing: calc(var(--index) / 2.15);
	position: relative;
	font-weight: 900;
	color: var(--context);
}
.timing-main {
	text-align: center;
	color: var(--context);
	font-size: calc(var(--index) * 1.15);
	margin-bottom: calc(var(--index) * 1.75);
}
.timing-caption {
	text-align: center;
	color: var(--context);
	font-size: calc(var(--index) * 0.95);
	margin-bottom: calc(var(--index) * 1.75);
}
.timing-article {
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #e7e7e0;
	top: -1px;
	z-index: 20;
}

hr {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: 1px solid var(--context);
}
